<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <table id="tblTitulo1" class="table1" width="100%">
                      <tr>
                        <td>
                          <h2><b>&nbsp;&nbsp;Persona</b></h2></td>
                      </tr>
                    </table>
					<div class="container_table box-title table-responsive" style="width: 100%">
					  <form class="form-horizontal well" id="forms-registro">
						  <div class="form-group">
   							  <label class="col-sm-3 control-label" for="input01">Run</label>
   							  <div class="col-sm-3">
   								  <input notnull="" title="Run" type="text" class="input-large required " id="txRun" name="txRun" maxlength="10" value="0">
   							  </div>
   						  </div>
						  <div class="form-group">
							  <label class="col-sm-3 control-label" for="input01">Nombres</label>
							  <div class="col-sm-3">
								  <input notnull="" disabled title="Nombres" type="text" class="input-large required " id="txNombres" name="txNombres" maxlength="100" value="0">
							  </div>
						  </div>
              <div class="form-group">
                <label class="col-sm-3 control-label" for="input01">Ap.Paterno</label>
                <div class="col-sm-3">
                  <input notnull="" disabled title="Apellido Paterno" type="text" class="input-large required " id="txApePaterno" name="txApePaterno" maxlength="100" value="0">
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-3 control-label" for="input01">Ap.Materno</label>
                <div class="col-sm-3">
                  <input notnull="" disabled title="Apellido Materno" type="text" class="input-large required " id="txApeMaterno" name="txApeMaterno" maxlength="100" value="0">
                </div>
              </div>              
						  </<form class="" action="index.html" method="post">

						  </form>
					  </div>

<!-- **************************************************************************-->
			<div class="form-actions">
			  <table width="100%" border="0"><tbody><tr><td width="100%" align="right">
          <button type="button" align="right" class="btn  btn-success" onclick="javascript:wpar.mpSecDoc.leer();"><i class="fa fa-floppy-save"></i> Leer</button>
  <button type="button" disabled align="right" class="btn  btn-success" onclick="javascript:wpar.mpSecDoc.grabarCurso();"><i class="fa fa-floppy-save"></i> Actualizar</button>
  <button type="button" disabled align="right" class="btn  btn-success" onclick="javascript:wpar.mpSecDoc.grabarCurso();"><i class="fa fa-floppy-save"></i> Eliminar</button>
  <button type="button" disabled align="right" class="btn  btn-success" onclick="javascript:wpar.mpSecDoc.grabarCurso();"><i class="fa fa-floppy-save"></i> Listar</button>
  <button align="right" disabled class="btn btn-primary" name="commit" value="Cerrar" type="reset" onclick="javascript:wpar.mpSecDoc.desactivarSeccion()"><i class="fa fa-ok"> DesActivar</i></button>
			  </td></tr></tbody></table>
			</div>
  </div>
</div>
</div>
</div>
</section>
